@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.container {
    overflow: auto;
    display: flex;
}

.center-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: 20px;
}

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.material-partner {
    width: 600px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.material-partner img {
    height: 300px;
    width: 300px;
}

.material-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px #CCCCCC solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.description-item {
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 20px;
    font-size: 18px;
}

.rbc-news-item {
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 20px;
    font-size: 14px;
}

.category-block {
    width: 550px;
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-image: url(../images/footer-background.jpg);
}

.footer-text {
    margin-top: 50px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
}

.currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.component-grid {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px #CCCCCC solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.a-style a, .a-style a:visited {
    color: #9d999d;
}

.a-style a.current, .a-style a:hover {
    color: #feb386;
}

.a-style a:hover:before, .a-style .current:before {
    left: 0;
}

.a-style a:hover:after, .a-style .current:after {
    right: 0;
}

.a-style a {
    text-decoration: none;
    transition: color .2s;
}

.news-img {
    display: flex;
    justify-content: center;
}

.news-img img {
    height: 110px;
    width: auto;
}

.header {
    overflow: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.main-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

footer {
    margin-top: -100px;
    height: 100px;
}

.search-form {
    padding: 4px;
    width: 100%;
}

.with-round-border {
    border: 3px #CCCCCC solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.with-round-border img {
    width: auto;
    height: 200px;
}

.description-block {
    margin: 10px;
    font-size: 25px;
    line-height: 1.1;
    color: #078eda;
    font-weight: bold;
    text-shadow: 1px 1px 0px #062838;
}

.prices-table {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.prices-table td {
    width: 50%;
    height: 150px;
}

.menu-main {
    list-style: none;
    margin: 5px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
}

.back {
    min-height: 100%;
    padding-bottom: 100px;
    background-image: url("../images/wood.jpg");
}

.before-back {
    min-height: 100%;
    background: white;
    padding-bottom: 100px;
    margin: 0px 100px;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: #9d999d;
}

.menu-main a.current, .menu-main a:hover {
    color: #feb386;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

    .menu-main li {
        display: block;
    }

    .menu-main li:after {
        content: none;
    }

    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}

.menu-main {
    box-sizing: border-box;
    margin: 0;
}

#workSlider {
    margin-top: 30px;
}